<app-navigation></app-navigation>
<div class="details">
  <h2>Game Name</h2>
<div fxLayout="row" fxLayoutGap="56px">
  <div class="image">
    <img alt="game_name_img" src="http://media.indiedb.com/images/games/1/25/24826/Placeholder_UI.png">
  </div>
  <div fxLayout="column" class="info">
    <div fxLayout="row">
    <h4>Name: </h4><h4> Game Name</h4>
    </div>
    <div fxLayout="row">
      <h4>Created: </h4><h4>01/01/2001</h4>
    </div>
    <div fxLayout="row">
      <h4>Creator: </h4><h4>Game Studios</h4>
    </div>
    <div fxLayout="row">
      <h4>Release date: </h4><h4>02/01/2001</h4>
    </div>
    <div fxLayout="row">
      <h4>Years developed: </h4><h4>4 years</h4>
    </div>
    <div fxLayout="row">
      <h4>Num of developers </h4><h4>38</h4>
    </div>
  </div>
</div>
</div>
<app-recommended></app-recommended>
