/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~@angular/material/theming';
@include mat-core();
$rs-primary: mat-palette($mat-blue-grey);
$rs-accent: mat-palette($mat-amber, A200, A100, A400);
$rs-warn: mat-palette($mat-red);
$rs-theme: mat-light-theme($rs-primary, $rs-accent, $rs-warn);
@include angular-material-theme($rs-theme);


