.search{
  margin-left: 10vw;
  margin-right: 10vw;
}
md-input-container{
  width: 80vw;
}
.example-card {
  width: 400px;
  &:hover{
    background-color: 	rgba(0,0,0,0.10);
    cursor: pointer;
}
}
