.search{
  margin-left: 10vw;
  margin-right: 10vw;
}
md-input-container{
  width: 80vw;
}
.example-card {
  width: 400px;
  &:hover{
    background-color: 	rgba(0,0,0,0.10);
    cursor: pointer;
}
}
.border{
  height: 2px;
  background-color: rgba(0,0,0,0.24);
  box-shadow: 1px 1px rgba(0,0,0,0.35);
  margin: 30px -10vw 50px -10vw;
}
