<app-navigation></app-navigation>
<h3 *ngIf="genres;else allGames">Games list of {{inputGenre}} genre</h3>
<ng-template #allGames>
<h3>Games list {{inputGenre}}</h3>
</ng-template>
<div fxLayout="column">
  <div fxFlex fxLayoutAlign="space-between center" fxLayoutGap='56px' class="static-data" fxLayout='row'>
    <div fxFlex class="table-title">
      Name</div>
    <div fxFlex class="table-title">
      Genre</div>
  </div>
  <div  *ngFor="let game of games;let i = index" >
    <section *ngIf="!inputGenre || game.genre.toUpperCase() === inputGenre.toUpperCase()" fxLayout='row' fxLayoutAlign="space-between center">
      <div fxFlex fxLayoutGap="56px">
        <h3 (click)="onGameClick(game)" class="game-name" fxFlex>{{ game.name }}</h3>
        <h3 fxFlex>{{game.genre}}</h3>
      </div>
    </section>
  </div>
</div>
<footer>

</footer>
